.pc-container {
  cursor: pointer;
}

.pokemon-card {
  position: relative;
  height: 300px; /* Is necessary because the all the content within this has absolute positioning */
  width: 100%;

  box-shadow: 0 0 8px rgba(100, 100, 100, 0.5);
  border-radius: 20px;

  transition: transform 1.5s;
  transform-style: preserve-3d;
}

.pokemon-card img {
  width: 70%;
}

.circle {
  padding: 65px;
  position: absolute;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  top: 7%;
  z-index: -1;
}

.pc-container:hover .pokemon-card {
  transform: rotateY(0.5turn);
}

.card_front {
  z-index: -2;
}

.card_back,
.card_front {
  position: absolute;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  border: 4px solid #fff;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card_back {
  transform: rotateY(0.5turn);
  background-color: #444;
  color: #eee;
  border: 4px solid #444;
}

/* Typography */
.poke-id {
  margin-top: 20px;
  border-radius: 30px;
  padding: 2px 15px;
  font-size: 0.9rem;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.2);
}

.poke-name {
  font-weight: 700;
  font-size: 1.15rem;
  text-transform: capitalize;
  margin: 8px 0;
}

.poke-stats-name {
  text-transform: capitalize;
  font-size: 0.8rem;
  font-weight: 500;
}

.poke-types {
  font-size: 0.9rem;
  font-weight: 500;
}

.poke-stats-bar {
  width: 70%;
  height: 8px;
  margin-bottom: 15px;
}
